.rnts-alert {
    position: fixed;
    bottom: 100px;
    left: 100px;
    z-index: 1000;
}

.rnts-notification {
    background-color: white;
    min-width: 300px;
    padding: 1rem 3rem 1rem 1rem;
    border-radius: 5px;
    border-left: 5px solid;
    -webkit-box-shadow: 0px 0px 32px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 32px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 32px -10px rgba(0, 0, 0, 0.75);
}

.notifica-message {
    font-size: 15px!important;
    color: black;
    font-weight: 600!important;
}

.rnts-notification.with-icon.success {
    border-color: #008758!important;
}

.rnts-notification.with-icon.error {
    border-color: #d9364f!important;
}

.rnts-notification.with-icon.info {
    border-color: #06c!important;
}

.rnts-notification.with-icon.warning {
    border-color: #a66300!important;
}