<div class="it-header-wrapper">
  <div class="it-header-slim-wrapper  d-block align-items-center">
    <div class="container">
 

    </div>
  </div>
  <div class="it-nav-wrapper">
    <div class="it-header-center-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="it-header-center-content-wrapper">
              <div class="it-brand-wrapper" style="width: -webkit-fill-available;">
                <a [routerLink]="['/']">
                  <div class="it-brand-text d-none d-sm-none d-md-none d-lg-block" id="imgHead2"> <!-- text-align: -webkit-center; -->
                    <img class="profiloImg" src="./assets/images/foto_profilo.jpg" alt="cv-local">
                  </div>
                </a>
              </div>
              <div class="it-right-zone ">



              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flag-wrapper">
      <div class="flag-white"></div>
    </div>


    <app-header-hamburger title='cv-local'  logo="./assets/images/foto_profilo-jpg" mobileWidth=991
    linkArray="linkArray"
      primaryColor="#3a3a3a" secondaryColor="#f0f8ff"></app-header-hamburger>
  </div>
</div>