<div class="it-header-wrapper">
  <!--   <div class="it-header-slim-wrapper  d-block align-items-center">
    <div class="container">
 

    </div>
  </div> -->
  <div class="it-nav-wrapper">
    <div class="it-header-center-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="it-header-center-content-wrapper">
              <div class="it-brand-wrapper" style="width: -webkit-fill-available;">
                <a [routerLink]="['/']">
                  <div class="it-brand-text d-none d-sm-none d-md-none d-lg-block" id="imgHead2">
                    <!-- text-align: -webkit-center; -->
                    <img class="profiloImg" src="{{infoGenerali.fotoProfilo}}" alt="cv-local">
                  </div>
                </a>
              </div>
              <div class="it-right-zone d-none d-sm-none d-md-none d-lg-flex" style="width: 300rem;">


                <div class="nomeText">{{infoGenerali.nomeCandidato | uppercase}} </div>

                <!-- COLLOUT CONTATTI-->

                <div class="callout contatti">
                  <div class="callout-title">
                    <div class="callout-cv title">
                      <svg class="icon" style="fill: white; color:white">
                        <use xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-info-circle"></use>
                      </svg>
                      {{infoGenerali.contatti}}
                    </div>
                  </div>
                  <div>
                    <ul style="list-style-type: none;">

                      <li class="contattiText">
                        <img class="listImage" style="width:17px" src="./assets/images/call_svg.svg" alt="cv-local">
                        {{infoGenerali.telefono}}
                      </li>
                      <li class="contattiText">
                        <img class="listImage" src="./assets/images/mail_svg.svg" alt="cv-local">
                        {{infoGenerali.email}}
                      </li>
                      <li class="contattiText"><a (click)="goToLink('linkedin')" class="cliccable">
                          <img class="listImage" src="./assets/images/linkedin_svg.svg" alt="cv-local">
                          {{infoGenerali.nomeLinkedin}}
                        </a>
                      </li>
                      <li class="contattiText"><a (click)="download()" class="cliccable">
                          <img class="listImage" src="./assets/images/download.svg" alt="cv-local"> Curriculum
                        </a>
                      </li>

                    </ul>
                  </div>
                </div>

                <div class="navbar-item-container d-flex" style="margin-left: 3rem;">
                  <div class="it-header-slim-wrapper-content">
                    <div class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="display: inline-flex;">
                        <span style="color: white;">{{getCurrentLingua()}}</span>
                        <svg class="icon  d-lg-block">
                          <use xlink:href="assets/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use>
                        </svg>
                      </a>
                      <div class="dropdown-menu dropdown-menu-header">
                        <div class="row">
                          <div class="col-12">
                            <div class="link-list-wrapper">
                              <ul class="link-list">
                                <li>
                                  <a class="list-item" (click)="setLingua('it')"><span>IT</span></a>
                                </li>
                                <li>
                                  <a class="list-item" (click)="setLingua('en')"><span>EN</span></a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>



              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flag-wrapper">
      <div class="flag-white"></div>
    </div>


    <app-header-hamburger title="{{infoGenerali.nomeCandidato}}" logo="./assets/images/foto_profilo-jpg" mobileWidth=991
      [linkArray]="linkArray" type="div" primaryColor="#3a3a3a" secondaryColor="#f0f8ff"></app-header-hamburger>
  </div>
</div>