<div class="componentBorder" id="competenzeComponent">
    <div class="row">
        <div class="col-12">
            <!--start card-->
            <div class="card-wrapper card-space">
                <div class="card card-bg">
                    <div>
                        <!-- class="card-body" -->

                        <div class="collapse-header  " id="headingCompetenze">
                            <button data-toggle="collapse" data-target="#collapseCompetenze" aria-expanded="true"
                                aria-controls="collapseCompetenze" style="border: none; background-color: white;">
                                <h3 class="title-page">Competenze</h3>
                            </button>


                            <div id="collapseCompetenze" class="collapse show" role="tabpanel"
                                aria-labelledby="headingCompetenze">
                                <div class="collapse-body">
                                    <div class="row">
                                        <hr class="aria-separator">
                                        <div class="col-12 col-md-4 alignColon spacing-top-1 d-grid" >
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--end card-->
        </div>
    </div>


</div>