.listImage{
    width: 100px;
    margin-top: 10px;
}
.textTipo{
    color: #5c6f82;
    font-family: "Titillium Web";
    font-size: 25px;
    font-weight: bold!important;
    letter-spacing: 0;
    line-height: 32px;
}
.textCorso{
    color: #5c6f82;
    font-family: "Titillium Web";
    font-size: 20px;
    font-weight: bold!important;
    letter-spacing: 0;
    line-height: 32px;
}
.textDettalio{
    color: #5c6f82;
    font-family: "Titillium Web";
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
}
.textSpecifiche{
    color: #5c6f82;
    font-family: "Titillium Web";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
}

.btnInfo{
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.leggi-piu {
    color: #0066CC;
    font-family: "Titillium Web";
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 21px;
}
.modal-title{
    color: #5c6f82;
    font-family: "Titillium Web";
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
}

.btnInfo{
    padding-right: 0!important;
    position: relative;
    right: -15px;
}
.scrollModale{
    overflow-y: scroll;
    max-height: 300px;
}

.scrollModale {
    scrollbar-color: #0066CC #F5F5F5;
    scrollbar-width: thin;
}

.scrollModale::-webkit-scrollbar {
    width: 9px;
    height: 9px;
    border-radius: 26px!important;
    background-color: #F5F5F5;
}

.scrollModale::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(104, 140, 240, 0.3);
    border-radius: 26px!important;
}

.scrollModale::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #0066CC;
}