<div class="componentBorder" id="educazioneComponent">
    <div class="row">
        <div class="col-12">
            <!--start card-->
            <div class="card-wrapper card-space">
                <div class="card card-bg">
                    <div>
                        <!-- class="card-body" -->

                        <div class="collapse-header  " id="headingIstruzione">
                            <button data-toggle="collapse" data-target="#collapseIstruzione" aria-expanded="true"
                                aria-controls="collapseIstruzione" style="border: none; background-color: white;">
                                <h3 class="title-page">{{istruzioneModello.educazioneLB}}</h3>
                            </button>


                            <div id="collapseIstruzione" class="collapse show" role="tabpanel"
                                aria-labelledby="headingIstruzione">
                                <div class="collapse-body">
                                    <div class="row">
                                        <hr class="aria-separator">
                                        <div class="row w-100 p-2" *ngFor="let campo of istruzioneModello.valueArray; index as i">

                                            <div class="col-12 col-md-2 alignColon spacing-top-1 d-grid">
                                                <div class="textTipo ">
                                                    {{campo.tipo | uppercase }}
                                                </div>
                                                <div class="textCorso ">
                                                    {{campo.durataCorso | uppercase }}
                                                </div>

                                                <img class="listImage m-t-1 circleImg" src="{{campo.fotoDipartimento}}"
                                                    alt="cv-local">
                                            </div>
                                            <div class="col-12 col-md-10 alignColon spacing-top-1 d-grid">
                                                <div class="row">
                                                    <div class="textDettalio col-12">
                                                        {{campo.nomeUniversita | uppercase }}
                                                    </div>
                                                    <div class="textDettalio col-12">
                                                        {{campo.dipartimento | uppercase }}
                                                    </div>
                                                    <div class="textDettalio col-12">
                                                        {{campo.corsoDiLaurea | uppercase }}
                                                    </div>
                                                    <div class="textDettalio col-12">
                                                        {{campo.specificheCorso | uppercase }}
                                                    </div>
                                                    <div class="textSpecifiche col-12">
                                                        <b>Titolo: </b> {{campo.specificheTesi.titolo | uppercase }}
                                                    </div>
                                                    <div class="textSpecifiche col-12">
                                                        <b>Relatore: </b> {{campo.specificheTesi.relatore | uppercase }}
                                                    </div>
                                                    <div class="textSpecifiche col-12">
                                                        <b>Parole chiavi: </b> {{campo.specificheTesi.paroleChiave |
                                                        uppercase }}
                                                    </div>
                                                    <div class="textSpecifiche col-12">
                                                        <b>Voto: </b> {{campo.specificheTesi.voto | uppercase }}
                                                    </div>
                                                    <div class="textSpecifiche col-12">
                                                        <b>Data di laurea: </b> {{campo.specificheTesi.data | uppercase
                                                        }}
                                                    </div>

                                                    <div class="col-12 btnInfo" *ngIf =" campo.maggioriInfo != null">
                                                        <button type="button" class="btn clickable btnInfo"
                                                            data-toggle="modal" data-target="#exampleModal" style="padding-right: 0!important;"
                                                            (click)="selezionaInfo(campo.maggioriInfo)">
                                                            <span class="leggi-piu">{{istruzioneModello.info}}</span>
                                                            <svg class="icon icon-sm" style="fill:#06c">
                                                                <use
                                                                    xlink:href="./assets/bootstrap-italia/dist/svg/sprite.svg#it-arrow-right">
                                                                </use>
                                                            </svg>
                                                        </button>
                                                    </div>
                                                </div>
                                               

                                            </div>
                                            <hr class="col-12 spacing-top-1  aria-separator" style="margin-top: 2rem;"
                                                *ngIf="i < istruzioneModello.length-1">

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--end card-->
        </div>
    </div>


</div>


<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="exampleModal" *ngIf="info!==null"
    style="position: fixed; top: 16%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-border">
            <div class="modal-header">
                <div class="col-12">
                    <div class="label-modale">
                        <span class="modal-title">{{istruzioneModello.infoAggiuntive}}</span>

                    </div>
                </div>

            </div>
            <div class="modal-body col-12 textSpecifiche scrollModale">
                <p>{{info}}</p>
            </div>
            <div class="modal-footer col-12" style="margin-top: 1rem;">
                <button class="btn btn-primary btn-sm" style="width: 150px; color: white;" data-dismiss="modal"
                    type="button">{{istruzioneModello.chiudi}}</button>
            </div>
        </div>
    </div>
</div>