<div class="bg-cv">
  <div class="footer-cv">

    <div style="height: 5rem;"></div>

    <hr class="ariw-separator" style="background-color: white">
    <div class="">

      <div class="row textFooter" style="display: block;">
        {{infoGenerali.svil}}: Angular 11  
      </div>
      <div class="row textFooter" style="display: block;">  
        {{infoGenerali.da}}: Buonsanto Vito 
      </div>  
      <div class="row textFooter"  style="display: block;">  
        {{infoGenerali.contattoSvil}}:  
      </div>  
      <div class="row textFooter" style="display: block;">  
        {{infoGenerali.emailLB}}: buonsantovito@gmail.com  
      </div>

    </div>
  </div>
</div>