<div class="bg-cv">
    <div class="footer-cv">
        <div class=" img-container">
          <div class="row">
          <div class="col-12 col-md-6 uc-logo">
            <img style="width:225px;" src="./assets/images/Logo_CameraDiCommercio.svg">
          </div>
          
          <div class="col-12 col-md-6 ic-logo">
            <img  style="width:225px;" src="./assets/images/logoIC_bianco.svg">
          </div>
        </div>
        </div>
        <hr class="ariw-separator" style="background-color: white">
        <div class="row">

        </div>
    </div>
  </div>
