.footer-cv {
    padding: 0rem 4rem;
}

.font-sm {
    font-size: 11px;
    line-height: 1rem;
}

.font-md {
    font-size: 12px;
}

.bg-cv {
    background-color: #1C2024;
}

.img-container {
    padding: 3rem 0rem 1rem 0rem;
}

@media screen and (max-width: 767px) {}

@media screen and (min-width: 768px) {}

@media screen and (max-width: 991px) {}

@media screen and (min-width: 992px) {}

a.white-color.footer-nl.font-md {
    text-decoration: none;
}

.bg-cv {
    min-height: 15rem;
}

.textFooter {
    color: #FFFFFF;
    font-family: "Titillium Web";
    font-size: 12px;
    letter-spacing: 0;
    line-height: 19px;
    text-align: right;
}